body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #FCFF33;
}

.footer {
    text-align: center;
}

.footer a {
    color: #FCFF33;
}

.sidebar h1 {
    color: ##33FF9C;
    font-size: 1.3em;
}

.sidebar a {
    color: #33FCFF;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: ##33FCFF;
    font-size: 1.3em;
}

.author {
    color: ##FCFF33;
}

.author a {
    color: #96FF33;
}
