{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>
				{% include post-tags.html %}
            <div class="post-content">
            {{ content }}
            </div>
            {% if page.comments %}
			<!-- comments start -->
			<div class="ds-thread" data-thread-key={{ page.id }} data-title={{ page.title }} data-url="{{ site.baseurl}}{{ page.url }}"></div>
			<!-- comments end -->

<script type="text/javascript">
var duoshuoQuery = {short_name:"zhuliangjun"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
            {% endif %}
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
              {% endif %}
</div>

        </div>
    </div>
</div>
{% include footer.html %}
